:root {
    --bg-color: #1E1E1E;
    --bg-color-secondary: #333333;
    --text-color: #F7F7F7;
    --text-color-secondary: #E65F78;
    --text-color-tertiary: #C6C6C6;
    font-family: "open-sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open-sans", sans-serif;
    color: var(--text-color);
}
.header-nav {
    background-color: var(--bg-color);
    color: var(--text-color);

    min-height: 60px;
    padding: 40px 0;
    display: flex;
    width: 1440px;
    justify-content: space-between;

}
.header-logo {
margin-left: 80px ;
}
.header-nav-list {
    display: flex;
    list-style: none;
    gap: 32px;
    justify-content: flex-end;
    margin-right: 80px ;

}
.header-nav-list-item {
    font-size: 1em;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}
.content {

    margin-top:  -50px;
    width: 1440px;
    height: 924px;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.content-main {
    display: flex;
    width: 1440px;
    height: 924px;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.content-circle {
    border : 1px solid var(--text-color);
    background-color: var(--text-color);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}




.content-name {
    display: inline;
    font-size: 4.5em;
    font-weight: 800;
}

.content-surname {
    display: inline;
    color: var(--text-color-secondary);
    font-weight: 800;
    font-size: 4.5em;

}

.content-subtext {
    font-family: "open-sans", sans-serif;
    font-size: 1.5em;
    color: var(--text-color-tertiary);
    font-weight: 300;
}

.content-arrow {
    display: block;
    width: 32px;
    height: 32px;
    margin: -180px auto;


}



.contact {
    display: flex;
    width: 1440px;
    height: 675px;
    background-color: var(--bg-color-secondary);
}


.contact-main {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    gap: 100px;

    }
.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 800;
    font-size: 3em;
}


.contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 1.25em;
    margin: 0 auto;
    text-align: center;
    line-height: 140%;
    max-width: 550px;
}

.contact-button {
    margin: 0 250px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--text-color-secondary);
    padding: 14px 20px;
    line-height: 170%;
    font-weight: 600;
    font-size: 1em;
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
}

.contact-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.footer {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    width: 1440px;
}
.footer-text {
    line-height: 170%;

}
.footer span {
    color: var(--text-color-secondary);
}